#galary {
	float: left;
	width: 50%;
}

.zoom {
	padding-bottom: 10px;
	border-bottom: 1px solid #777;
}

.zoom img {
	padding-top: 50px;
	padding-left: 50px;
	width: 80%;
	-webkit-transition: 0.4s ease;
  	transition: 0.4s ease;
}

.zoom-effect:hover .zoom img {
  -webkit-transform: scale(1.08);
  transform: scale(1.1);
}

.zoom-effect {
	position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.small {
	float: left;
	width: 13%;
	padding: 10px;
}

#mini {
	height: 95%;
	padding-bottom: 10px;
}

.small img {
	height: 95%;
	width: 90%;
	padding: 5px;
	cursor: pointer;
	opacity: 0.3;
}

.small img:hover {
	border: 1px solid #777;
	opacity: 1;
}

.detail-label {
	position: relative;
	top: 10px;
	clear: left;
	text-align: center;
	font-size: 34px;
	color: black;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.actions {
	margin-top: 150px;
	text-align: center;
	padding-bottom: 10px;
}

.bot {
	margin-top: 10px;
	border-radius: 20%;
	cursor: pointer;
	font-size: 20px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.bot:hover {
	background-color: white;
}

#detail-price {
	padding-top: 20px;
	font-size: 30px;
}

#content {
	float: right;
	padding-left: 4%;
	padding-right: 4%;
	width: 40%;
}

h1.subtitle {
	color: #ff6600;
	font-family: sans-serif;
}

.detail-desc {
	font-family: sans-serif;
	font-size: 15px;
}

.choice {
	padding: 20px;
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
	float: left;
	font-size: 15px;
	padding-bottom: 40px;
}

.choice1:hover {
	opacity: 1;
	cursor: pointer;
}
.choice2:hover {
	opacity: 1;
	cursor: pointer;
}

span {
	padding-top: 10px;
}

.choice1 {
	text-align: center;
	background-image: url("http://localhost/cs3744/project3/hjue/public/img/grey.jpg");
	opacity: 0.3;
	border-radius: 8%;
	width: 140px;
	height: 70px;
	border: 1px solid #777;
}
.choice2 {
	text-align: center;
	background-image: url("http://localhost/cs3744/project3/hjue/public/img/grey.jpg");
	opacity: 0.3;
	border-radius: 8%;
	width: 140px;
	height: 70px;
	border: 1px solid #777;
}

.selection-title {
	clear: both;
	color: #668cff;
}
