/* Side bar */
#sidebar {
  width: 15%;
  float: left;
  padding: 0 10px;
  border-right: 1px solid #ccc;
}


#signup input[type="text"],
#signup input[type="password"] {
  width: 300px;
}


#login input[type="text"],
#login input[type="password"],
#edit-product input[type="text"] {
  width: 300px;
  display: block;
}

i.hint {
  color: red;
}

#login label {
  margin-top: 20px;
}

#edit-product textarea {
  width: 300px;
  height: 100px;
  display: block;
}

#list {
	float: right;
	width: 80%;
}


/* Product Cell */
.product {
    padding-left: 50px;
    padding-top: 50px;
    float: left;
    width: 25%;
}

div.img:hover {
    border: 1px solid #777;
}

.desc {
    text-align: center;
}

div.price {
	text-align: center;
	color: #ff3300;
	cursor: pointer;
}

div.desc a {
	color: blue;
}

div.desc a:hover {
	color: orange;
}

div.img img {
    width: 100%;
}

div.img {
    border: 1px solid #ccc;
}

/* Media */
@media only screen and (max-width: 1300px){
    .product {
        width: 40%;
        margin: 6px 0;
    }

    div.img img {
    	height: 300px;
	}
}

@media only screen and (max-width: 700px){
    .product {
        width: 80%;
        height: auto;
    }

    div.img img {
    	height: auto;
	}
}

.bot1 {
    padding: 5px 5px 5px 5px;
}

.bot2 {
    padding: 5px 16px 5px 16px;
}

.bot3 {
    padding: 5px 11px 5px 11px;
}

.bot {
  background: #f0ddb8;
  background-image: -webkit-linear-gradient(top, #f0ddb8, #ffbf00);
  background-image: -moz-linear-gradient(top, #f0ddb8, #ffbf00);
  background-image: -ms-linear-gradient(top, #f0ddb8, #ffbf00);
  background-image: -o-linear-gradient(top, #f0ddb8, #ffbf00);
  background-image: linear-gradient(to bottom, #f0ddb8, #ffbf00);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  /*-webkit-box-shadow: 2px 2px 6px #ff9900;
  -moz-box-shadow: 2px 2px 6px #ff9900;
  box-shadow: 2px 2px 6px #ff9900;*/
  font-family: Arial;
  color: #292429;
  font-size: 10px;
  text-decoration: none;
  text-align: center;
}

.bot:hover {
  background: #f0d7a8;
  background-image: -webkit-linear-gradient(top, #f0d7a8, #dba207);
  background-image: -moz-linear-gradient(top, #f0d7a8, #dba207);
  background-image: -ms-linear-gradient(top, #f0d7a8, #dba207);
  background-image: -o-linear-gradient(top, #f0d7a8, #dba207);
  background-image: linear-gradient(to bottom, #f0d7a8, #dba207);
  text-decoration: none;
  cursor: pointer;
}

.act-but {
	width: 33%;
  display: inline;
}

.act-but1 {
	width: 33%;
  float: left;

}

#toggle {
  clear: both;
  width: 100%;
  float: left;
}

.toggle-option {
  float: left;
}

.switch {
  margin-top: 12px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float: left;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
