div#contentList{width: 60%;margin: 0 auto;padding: 0 20px 20px 20px;}
#searchList {border-collapse: collapse;width: 80%;}
#searchList {padding-top : 20px;}
td {padding: 8px;text-align: left;border-bottom: 1px solid #ddd;}
table td:hover { cursor: pointer;}
tr:nth-child(even) {background-color: #FEF9E7}
tr:nth-child(odd) {background-color: #D4EFDF}
table tr:hover {background-color: #f5f5f5}
table td a{text-decoration: none;}
table td a:link {color: #000000;}
table td a:visited{color:#000000;}
td a {
   display: block;
}
